USE [master]
GO
/****** Object:  Database [TechShopDatabase]    Script Date: 5/13/2023 8:14:25 AM ******/
CREATE DATABASE [TechShopDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechShopDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TechShopDatabase.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechShopDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TechShopDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechShopDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechShopDatabase]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Cart]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[cost] [decimal](18, 2) NOT NULL,
	[isPay] [bit] NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NOT NULL,
	[datebegin] [datetime] NOT NULL,
	[order] [nvarchar](max) NULL,
	[Checkout_Id] [int] NULL,
	[product_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tb_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Category]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryImage] [nvarchar](100) NOT NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NOT NULL,
	[datebegin] [datetime] NOT NULL,
	[order] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Checkout]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Checkout](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[receiver] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[province] [nvarchar](max) NULL,
	[district] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](max) NULL,
	[isPay] [bit] NOT NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NOT NULL,
	[datebegin] [datetime] NOT NULL,
	[order] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Checkout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Contact]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[contactName] [nvarchar](100) NOT NULL,
	[contactEmail] [nvarchar](100) NULL,
	[contactMessage] [nvarchar](500) NULL,
	[contactSubject] [nvarchar](500) NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NOT NULL,
	[datebegin] [datetime] NOT NULL,
	[order] [nvarchar](max) NULL,
	[username] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_News]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[avatar] [nvarchar](500) NOT NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NOT NULL,
	[datebegin] [datetime] NOT NULL,
	[order] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Product]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](500) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[isSale] [bit] NOT NULL,
	[sale] [decimal](18, 2) NOT NULL,
	[manufacturer] [nvarchar](500) NULL,
	[img] [nvarchar](500) NULL,
	[screen] [nvarchar](max) NULL,
	[CPU] [nvarchar](500) NULL,
	[OS] [nvarchar](500) NULL,
	[RAM] [nvarchar](500) NULL,
	[HardDrive] [nvarchar](500) NULL,
	[Camera] [nvarchar](500) NULL,
	[Capacity] [nvarchar](500) NULL,
	[stars] [int] NOT NULL,
	[vote] [int] NOT NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NOT NULL,
	[datebegin] [datetime] NOT NULL,
	[order] [nvarchar](max) NULL,
	[type] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tb_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Reviews]    Script Date: 5/13/2023 8:14:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reviewer] [nvarchar](100) NOT NULL,
	[ReviewContent] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Rating] [int] NOT NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NOT NULL,
	[datebegin] [datetime] NOT NULL,
	[order] [nvarchar](max) NULL,
	[Product_Id] [int] NULL,
 CONSTRAINT [PK_dbo.tb_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'6b0ac743-9f9d-4444-9f9a-d627602f8113', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'9298472c-f966-46c4-a122-14adc912f286', N'User')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd101af41-0ac2-4bfd-a68f-70a9966cef68', N'6b0ac743-9f9d-4444-9f9a-d627602f8113')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6b91b91e-476a-4924-99cc-3c1d7758591e', N'9298472c-f966-46c4-a122-14adc912f286')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6b91b91e-476a-4924-99cc-3c1d7758591e', N'user1@gmail.com', 0, N'AMWOQnqM8UQoAeKj+5CdzIoMINo4Nr85gFXBF9FfK6f4c69AEU57NeGL5DS713baEA==', N'c3117e65-db2b-4e71-a0f0-cebffa5b03c3', NULL, 0, 0, NULL, 1, 0, N'user1@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'd101af41-0ac2-4bfd-a68f-70a9966cef68', N'admin1@gmail.com', 0, N'AGx3oqo+cuaUEhDiffNwTob1rakbMc8VKSzqio9/fMkjogEbYYHqAeYkr0mCesXomA==', N'f2096b5f-6f6c-4392-938f-d01da081771f', NULL, 0, 0, NULL, 1, 0, N'admin1@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[tb_Cart] ON 

INSERT [dbo].[tb_Cart] ([Id], [quantity], [cost], [isPay], [username], [meta], [hide], [datebegin], [order], [Checkout_Id], [product_Id]) VALUES (16, 1, CAST(17006.70 AS Decimal(18, 2)), 1, N'user1@gmail.com', NULL, 1, CAST(N'2023-05-09T11:17:43.320' AS DateTime), NULL, 10, 6)
INSERT [dbo].[tb_Cart] ([Id], [quantity], [cost], [isPay], [username], [meta], [hide], [datebegin], [order], [Checkout_Id], [product_Id]) VALUES (17, 1, CAST(695.00 AS Decimal(18, 2)), 1, N'user1@gmail.com', NULL, 1, CAST(N'2023-05-09T11:17:46.450' AS DateTime), NULL, 10, 16)
INSERT [dbo].[tb_Cart] ([Id], [quantity], [cost], [isPay], [username], [meta], [hide], [datebegin], [order], [Checkout_Id], [product_Id]) VALUES (18, 1, CAST(17006.70 AS Decimal(18, 2)), 1, N'user1@gmail.com', NULL, 1, CAST(N'2023-05-09T13:11:34.337' AS DateTime), NULL, 11, 6)
SET IDENTITY_INSERT [dbo].[tb_Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Category] ON 

INSERT [dbo].[tb_Category] ([Id], [CategoryName], [CategoryImage], [meta], [hide], [datebegin], [order]) VALUES (1, N'Phone', N'https://cdn.tgdd.vn/Products/Images/42/251192/iphone-14-pro-den-1-1.jpg', N'Phone', 1, CAST(N'2023-05-12T08:51:34.817' AS DateTime), N'Category')
INSERT [dbo].[tb_Category] ([Id], [CategoryName], [CategoryImage], [meta], [hide], [datebegin], [order]) VALUES (2, N'Laptop', N'https://cdn.tgdd.vn/Products/Images/44/265523/itel-able-1s-n4020-71006300027-1-1.jpg', N'Laptop', 1, CAST(N'2023-04-06T16:11:44.000' AS DateTime), N'Category')
INSERT [dbo].[tb_Category] ([Id], [CategoryName], [CategoryImage], [meta], [hide], [datebegin], [order]) VALUES (3, N'Tablet', N'https://cdn.tgdd.vn/Products/Images/522/251704/samsung-galaxy-tab-a8-1.jpg', N'Tablet', 1, CAST(N'2023-04-06T16:11:21.000' AS DateTime), N'Category')
SET IDENTITY_INSERT [dbo].[tb_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Checkout] ON 

INSERT [dbo].[tb_Checkout] ([Id], [receiver], [phone], [Address], [province], [district], [ZipCode], [isPay], [meta], [hide], [datebegin], [order], [username]) VALUES (10, N'User1', N'(028) 3823 6789', N'Tân Phong', N'Hồ Chí Minh', N'Quận 7', N'aa', 1, N'tan-phong-592023-111805-am', 1, CAST(N'2023-05-09T11:18:05.160' AS DateTime), NULL, N'user1@gmail.com')
INSERT [dbo].[tb_Checkout] ([Id], [receiver], [phone], [Address], [province], [district], [ZipCode], [isPay], [meta], [hide], [datebegin], [order], [username]) VALUES (11, N'User1', N'(028) 3823 6789', N'Tân Phong', N'Hồ Chí Minh', N'Quận 7', N'aa', 1, N'tan-phong-592023-11150-pm', 1, CAST(N'2023-05-09T13:11:50.153' AS DateTime), NULL, N'user1@gmail.com')
INSERT [dbo].[tb_Checkout] ([Id], [receiver], [phone], [Address], [province], [district], [ZipCode], [isPay], [meta], [hide], [datebegin], [order], [username]) VALUES (12, N'User1', N'(028) 3823 6789', N'Tân Phong', N'Hồ Chí Minh', N'Quận 7', N'aa', 1, N'tan-phong-592023-12448-pm', 1, CAST(N'2023-05-09T13:24:48.387' AS DateTime), NULL, N'user1@gmail.com')
SET IDENTITY_INSERT [dbo].[tb_Checkout] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Contact] ON 

INSERT [dbo].[tb_Contact] ([Id], [contactName], [contactEmail], [contactMessage], [contactSubject], [meta], [hide], [datebegin], [order], [username]) VALUES (2, N'khoi', N'khoi@gmail.com', N'xin chao', N'xin chao', N'khoi@gmail.com', 0, CAST(N'2023-05-11T22:45:32.973' AS DateTime), NULL, N'admin1@gmail.com')
SET IDENTITY_INSERT [dbo].[tb_Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_News] ON 

SET IDENTITY_INSERT [dbo].[tb_News] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Product] ON 

SET IDENTITY_INSERT [dbo].[tb_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_Reviews] ON 

INSERT [dbo].[tb_Reviews] ([Id], [Reviewer], [ReviewContent], [Email], [Rating], [meta], [hide], [datebegin], [order], [Product_Id]) VALUES (1, N'khoi', N'good', N'user1@gmail.com', 4, N'khoi-user1@gmail.com', 1, CAST(N'2023-05-09T11:19:11.523' AS DateTime), NULL, 6)
INSERT [dbo].[tb_Reviews] ([Id], [Reviewer], [ReviewContent], [Email], [Rating], [meta], [hide], [datebegin], [order], [Product_Id]) VALUES (2, N'khoi', N'news', N'shine500@gmail.com', 4, N'khoi-shine500@gmail.com', 1, CAST(N'2023-05-11T14:48:26.107' AS DateTime), NULL, 6)
INSERT [dbo].[tb_Reviews] ([Id], [Reviewer], [ReviewContent], [Email], [Rating], [meta], [hide], [datebegin], [order], [Product_Id]) VALUES (3, N'Lê Minh Khôi', N'good', N'minhkhoi@gmail.com', 5, N'le-minh-khoi-minhkhoi@gmail.com', 1, CAST(N'2023-05-11T23:41:51.580' AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[tb_Reviews] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/13/2023 8:14:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/13/2023 8:14:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/13/2023 8:14:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 5/13/2023 8:14:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 5/13/2023 8:14:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/13/2023 8:14:26 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Checkout_Id]    Script Date: 5/13/2023 8:14:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_Checkout_Id] ON [dbo].[tb_Cart]
(
	[Checkout_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_Id]    Script Date: 5/13/2023 8:14:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_product_Id] ON [dbo].[tb_Cart]
(
	[product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 5/13/2023 8:14:26 AM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[tb_Reviews]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[tb_Cart]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_Cart_dbo.tb_Checkout_Checkout_Id] FOREIGN KEY([Checkout_Id])
REFERENCES [dbo].[tb_Checkout] ([Id])
GO
ALTER TABLE [dbo].[tb_Cart] CHECK CONSTRAINT [FK_dbo.tb_Cart_dbo.tb_Checkout_Checkout_Id]
GO
ALTER TABLE [dbo].[tb_Cart]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_Cart_dbo.tb_Product_product_Id] FOREIGN KEY([product_Id])
REFERENCES [dbo].[tb_Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Cart] CHECK CONSTRAINT [FK_dbo.tb_Cart_dbo.tb_Product_product_Id]
GO
ALTER TABLE [dbo].[tb_Reviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tb_Reviews_dbo.tb_Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[tb_Product] ([Id])
GO
ALTER TABLE [dbo].[tb_Reviews] CHECK CONSTRAINT [FK_dbo.tb_Reviews_dbo.tb_Product_Product_Id]
GO
USE [master]
GO
