@model TechShopWebsite.Models.EF.News
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/">Home</a>
                <span class="breadcrumb-item active">News</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- News Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">News</span></h2>
    @Html.Raw(Model.content)
</div>
<!-- News End -->

@section scripts{
    <script>
        $('#ActionLinkHome').addClass('active');
    </script>
}