@model IEnumerable<TechShopWebsite.Models.EF.Product>
<div class="col-lg-4">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="@item.img.Split(';')[0]" height="10">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="@Url.RouteUrl("CategoryType", new { @type = item.type,@page=1 })" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        }
    }
</div>

